.dashboard-container{
    display: flex;
}

.dashboard-container .sidebar{
    position: absolute;
    flex: 0.15;
    width: 280px;
    height: 944px;
    left: 43px;
    top: calc(50% - 944px/2);
    background: linear-gradient(180deg, #4285F4 0%, #3C83F9 100%);
    border-radius: 20px;
}

.dashboard-container .sidebar .help{
    position: absolute;
    left: 17.86%;
    right: 70%;
    top: 87.92%;
    bottom: 10.28%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.dashboard-container .sidebar .contact-us{
    position: absolute;
    left: 17.86%;
    right: 54.29%;
    top: 91.84%;
    bottom: 6.36%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.dashboard-container .sidebar .settings{
    position: absolute;
    left: 31.43%;
    right: 41.79%;
    top: 43.64%;
    bottom: 54.03%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    white-space: nowrap;
}

.dashboard-container .sidebar .setting-icon{
    position: absolute;
    left: 17.86%;
    right: 76.06%;
    top: 43.86%;
    bottom: 54.24%;
}

.dashboard-container .sidebar .users{
    position: absolute;
    left: 31.43%;
    right: 50.71%;
    top: 37.08%;
    bottom: 60.59%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.dashboard-container .sidebar .user-icon{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 50px;
    top: 352px;
}

.dashboard-container .sidebar .schedules{
    position: absolute;
    left: 31.43%;
    right: 35.36%;
    top: 30.51%;
    bottom: 67.16%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.dashboard-container .sidebar .schedules-icon{
    position: absolute;
    left: 17.86%;
    right: 75.71%;
    top: 30.72%;
    bottom: 67.37%; 
}

.dashboard-container .sidebar .transactions{
    position: absolute;
    left: 31.43%;
    right: 27.5%;
    top: 23.94%;
    bottom: 73.73%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.dashboard-container .sidebar .transaction-icon{
    position: absolute;
    left: 17.86%;
    right: 75.71%;
    top: 23.94%;
    bottom: 73.86%;
    transform: matrix(-1, 0, 0, 1, 0, 0); 
}

.dashboard-container .sidebar .dash{
    position: absolute;
    left: 31.43%;
    right: 31.43%;
    top: 17.37%;
    bottom: 80.3%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.dashboard-container .sidebar .dashboard-icon{
    position: absolute;
    left: 17.86%;
    right: 75.71%;
    top: 17.58%;
    bottom: 80.51%; 
}

.dashboard-container .sidebar .board{
    position: absolute;
    left: 17.86%;
    right: 38.21%;
    top: 6.36%;
    bottom: 88.98%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    color: #FFFFFF;
}

.dashboard-container .main-page .header{
    position: absolute;
    width: 1000px;
    height: 32.93px;
    left: 390px;
    top: 71px;
}

.dashboard-container .main-page .header .dashboard-title{
    position: absolute;
    width: 138px;
    height: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.dashboard-container .main-page .header .search-bar{
    display: flex;
    position: absolute;
    background-color: #FFFFFF;
    width: 197.6px;
    height: 32.93px;
    left: 1333px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 8px;
}

.dashboard-container .main-page .header .search-bar input{
    width: 197.6px;
    height: 32px;
    left: 1118px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B0B0B0;
    border: none;
    background-color: #FFFFFF;
    outline: none;
}

.dashboard-container .main-page .header .search-bar img{
    height: 14px;
    margin-top: 8px;
}

.dashboard-container .main-page .header .vector{
    position: absolute;
    left: 157%;
    right: 7.47%;
    top: 7.57%;
    bottom: 90.39%;
    background: #000000;
    margin-top: 5px;

}

.dashboard-container .main-page .header .vector img{
    height: 20.89px;
}

.dashboard-container .main-page .header .mask{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1600px;
}

.dashboard-container .main-page .header .mask img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dashboard-container .main-page .top-cards{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
    position: absolute;
    width: 1800px;
    height: 200px;
    left: 390px;
    top: 140.5px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card{
    width: 400px;
    height: 200px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 2px solid #E0E0E0;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.card .rev-logo{
    margin-top: 24.65px;
    margin-left: 33.42px;
}

/* .rev-logo img{
    width: 40px;
    height: 40px; 
} */

.rev-title{
    margin-top: 14.65px;
    margin-left: 33.42px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    color: #000000;
}

.rev-total{
    display: flex;
}

.rev-amount{
    margin-top: 14.65px;
    margin-left: 33.42px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    width: 134px;
}

.rev-per{
    margin-top: 9px;
    margin-left: 132px;
    font-size: 24px;
    font-weight: 600;
    color: #006400;
    background-color: #90ee90;
    padding: 10px;
    border-radius: 50px;
}

.middle-cards{
    position: absolute;
    width: 1670px;
    height: 418.33px;
    top: 380px;
    left: 390px;
}

.activity-card{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.Activities{
    position: absolute;
    width: 93px;
    height: 22px;
    left: 30px;
    top: 33px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.activity-guest{
    position: absolute;
    width: 42px;
    height: 17px;
    left: 1502px;
    top: 33px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.activity-user{
    position: absolute;
    width: 34px;
    height: 17px;
    left: 1600px;
    top: 33px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.activity-eclipse-1{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 1477.53px;
    top: 35px;
    background: #E9A0A0;
    border-radius: 50%;
}

.activity-eclipse-2{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 1577px;
    top: 35px;
    background: #9BDD7C;
    border-radius: 50%;
}

.activity-date-range{
    position: absolute;
    width: 111px;
    height: 17px;
    left: 30px;
    top: 59px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #858585;
}

.activity-chart{
    position: absolute;
    width: 1600px;
    height: 342px;
    left: 20px;
    top: 96px;
}

.activity-group-8{
    position: absolute;
    width: 1600px;
    height: 17px;
    left: 10px;
    top: 0px;
}

.activity-group-8-500{
    position: absolute;
    width: 25.34px;
    height: 17px;
    left: 0px;
    top: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #858585;
}

.activity-group-8-500-line{
    position: absolute;
    width: 1571px;
    height: 0px;
    left: 40px;
    top: 5px;
    border: 1px solid #EAEAEA;
}

.activity-group-9{
    position: absolute;
    width: 1600px;
    height: 17px;
    left: 10px;
    top: 49px;
}

.activity-group-9-400{
    position: absolute;
    width: 25.34px;
    height: 17px;
    left: 0px;
    top: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #858585;
}

.activity-group-9-400-line{
    position: absolute;
    width: 1571px;
    height: 0px;
    left: 40px;
    top: 5px;
    border: 1px solid #EAEAEA;
}

.activity-group-10{
    position: absolute;
    width: 1600px;
    height: 17px;
    left: 10px;
    top: 98px;
}

.activity-group-10-300{
    position: absolute;
    width: 25.34px;
    height: 17px;
    left: 0px;
    top: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #858585;
}

.activity-group-10-300-line{
    position: absolute;
    width: 1571px;
    height: 0px;
    left: 40px;
    top: 5px;
    border: 1px solid #EAEAEA;
}

.activity-group-11{
    position: absolute;
    width: 1600px;
    height: 17px;
    left: 10px;
    top: 147px;
}

.activity-group-11-200{
    position: absolute;
    width: 25.34px;
    height: 17px;
    left: 0px;
    top: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #858585;
}

.activity-group-11-200-line{
    position: absolute;
    width: 1571px;
    height: 0px;
    left: 40px;
    top: 5px;
    border: 1px solid #EAEAEA;
}

.activity-group-12{
    position: absolute;
    width: 1600px;
    height: 17px;
    left: 10px;
    top: 196px;
}

.activity-group-12-100{
   position: absolute;
    width: 25.34px;
    height: 17px;
    left: 0px;
    top: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #858585; 
}

.activity-group-12-100-line{
    position: absolute;
    width: 1571px;
    height: 0px;
    left: 40px;
    top: 5px;
    border: 1px solid #EAEAEA;
}

.activity-group-13{
    position: absolute;
    width: 1600px;
    height: 17px;
    left: 25px;
    top: 245px;
}

.activity-group-13-0{
    position: absolute;
    width: 25.34px;
    height: 17px;
    left: 0px;
    top: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #858585; 
}

.activity-group-13-0-line{
    position: absolute;
    width: 1571px;
    height: 0px;
    left: 25px;
    top: 5px;
    border: 1px solid #EAEAEA;
}

.bar_1_1{
    position: absolute;
    width: 38.41px;
    height: 245px;
    left: 156px;
    top: 101px;
    bottom: 21.39%;
    background: #98D89E;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.bar_1_2{
    position: absolute;
    width: 38.41px;
    height: 195px;
    left: 204.41px;
    top: 152px;
    bottom: 25.07%;
    background: #EE8484;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.bar_2_1{
    position: absolute;
    width: 38.41px;
    height: 175px;
    left: 456px;
    top: 172px;
    bottom: 26.93%;
    background: #98D89E;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.bar_2_2{
    position: absolute;
    width: 38.41px;
    left: 504.41px;
    height: 225px;
    top: 122px;
    bottom: 23.2%;
    background: #EE8484;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.bar_3_1{
    position: absolute;
    width: 38.41px;
    height: 99px;
    left: 760px;
    top: 59.6%;
    bottom: 32.89%;
    background: #98D89E;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.bar_3_2{
    position: absolute;
    width: 38.41px;
    height: 148px;
    left: 808.41px;
    top: 199px;
    bottom: 28.87%;
    background: #EE8484;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.bar_4_1{
    position: absolute;
    width: 38.41px;
    height: 196px;
    left: 1072px;
    top: 150px;
    bottom: 25.05%;
    background: #98D89E;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.bar_4_2{
    position: absolute;
    width: 38.41px;
    height: 172px;
    left: 1120.41px;
    top: 175px;
    bottom: 27.27%;
    background: #EE8484;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.chart_weeks{
    display: flex;
    position: absolute;
    width: 648px;
    height: 19px;
    left: 156px;
    top: 356px;
}

.week-1{
    position: absolute;
    width: 48px;
    height: 17px;
    left: 19px;
    top: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #858585;  
}

.week-2{
    position: absolute;
    width: 48px;
    height: 19px;
    left: 312px;
    top: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #858585;
}

.week-3{
    position: absolute;
    width: 48px;
    height: 19px;
    left: 624px;
    top: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #858585;
}

.week-4{
    position: absolute;
    width: 48px;
    height: 19px;
    left: 936px;
    top: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #858585;
}

.bottom-cards{
    position: absolute;
    width: 480px;
    height: 256px;
    left: 390px;
    top: 839px;
}

.top-product-card{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}